/* /////////////////////////////////////// Normalize /////////////////////////////////// */

:root {
  --c-presentation: #5c52b4;
  --c-competences: #7678ed;
  --c-parcours: #f7b801;
  --c-realisations: #f18701;
  --c-contact: #f35b04;
  --c-black: #292929;
  --c-white: #ffffff;
  --c-gray: #ebebeb;
  --t-text1: 36px;
  --t-text2: 28px;
  --t-text3: 20px;
  --c-textTitle: 55px;
}

@keyframes wheelColor {
  from,
  to {
    color: var(--c-presentation);
  }
  10% {
    color: var(--c-competences);
  }
  38% {
    color: var(--c-parcours);
  }
  65% {
    color: var(--c-realisations);
  }
  90% {
    color: var(--c-contact);
  }
}

.animColor {
  animation: wheelColor 100s infinite;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

b {
  font-weight: 600;
  font-size: 110%;
}

/**************************************** javaScriptAnimationDrop.js ***************************************/
.dropAnimLeft {
  transform: translateX(-14%);
  transition: 0.3s;
  opacity: 0;
}

.dropAnimRight {
  transform: translateX(14%);
  transition: 0.3s;
  opacity: 0;
}

.dropAnimOpacity {
  transform: scale(0);
  transition: 0.3s;
  opacity: 0;
}

.dropAnimRotate {
  transform: scaleX(50%);
  transition: 0.3s;
  opacity: 0;
}

/* /////////////////////////////////////////footer/////////////////////////////////////////// */

.containerFooter {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--c-black);
  color: var(--c-gray);
}
