/* /////////////////////////////////////////////mediaQuery/////////////////////////////////////////// */

@media screen and (max-width: 1300px) {
  .itemCompetencesIcon {
    height: 200px;
  }
}

@media screen and (max-width: 1130px) {
  /* ///////////// Header ///////////// */
  .ContainerSectionPresentation {
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .containerHeader,
  .containerTextHeader,
  .containerIconHeader {
    margin: 2% 2%;
  }

  .containerIconHeader {
    margin-top: 6%;
  }

  .containerTextHeader h2 {
    margin-top: 12%;
  }

  .containerTextHeader h1 {
    font-size: 66px;
  }

  .containerTextHeader h3 {
    font-size: 22px;
  }

  /* ///////////// Réalisation ///////////// */

  .containerRealisation {
    flex-direction: column;
  }

  .containerSectionRealisations {
    height: auto;
  }
}

@media screen and (min-width: 1001px) {
  .btnNavBar button {
    display: none;
  }
  .btnNavBarBack button {
    display: none;
  }
  .containerMenuNav p {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .containerNavBar ul {
    display: none;
  }

  .containerNavBar {
    padding: 26px 0px;
  }

  .btnNavBar {
    display: block;
  }
}

@media screen and (max-width: 730px) {
  /* ///////////// Header ///////////// */

  .containerHeader,
  .containerTextHeader,
  .containerIconHeader {
    margin: 4% 1%;
  }

  .containerIconHeader {
    margin-top: 12%;
  }

  .containerTextHeader h2 {
    margin-top: 18%;
    font-size: 32px;
  }

  .containerTextHeader h1 {
    font-size: 68px;
    margin-top: 2%;
  }

  .containerTextHeader h3 {
    font-size: 22px;
    margin-top: 12%;
  }
}

@media screen and (max-width: 590px) {
  /* ///////////// Header ///////////// */

  .containerHeader,
  .containerTextHeader,
  .containerIconHeader {
    margin: 1% 1%;
  }

  .containerIconHeader {
    margin-top: 12%;
    flex-wrap: nowrap;
  }

  .containerTextHeader h2 {
    margin-top: 16%;
    font-size: 28px;
    text-align: center;
  }

  .containerTextHeader h1 {
    font-size: 68px;
    margin-top: 2%;
  }

  .containerTextHeader h3 {
    font-size: 22px;
    margin-top: 6%;
    text-align: center;
  }

  /* ///////////// Compétences ///////////// */
  .job {
    padding: 20px;
    margin: 66px 0px;
    max-width: 163vw;
  }

  .wrapperParcours {
    margin: 0 0;
  }

  .imageProfil {
    height: 480px;
    width: 360px;
  }

  .itemCompetencesTexte {
    width: 98%;
    margin: 5px 10px;
  }

  .itemCompetencesIcon {
    width: 280px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
  }

  .textPresentation {
    margin: 0;
  }

  .lineAnimFor {
    padding: 3px 20px;
    margin: 33px 0;
    max-width: 80vw;
    position: relative;
  }

  .wrapperFor {
    margin: 18px 8px;
  }

  .lineAnimFor:after {
    display: none;
  }

  .lineAnimExp {
    padding: 3px 20px;
    margin: 33px 0;
    max-width: 80vw;
    position: relative;
  }

  .wrapperExp {
    margin: 18px 8px;
  }

  .lineAnimExp:after {
    display: none;
  }

  .containerSectionParcours {
    margin: 0;
  }

  .containerParcoursFor {
    overflow: initial;
  }

  .containerParcoursExp {
    overflow: initial;
  }

  .titleSection {
    line-height: 55px;
  }

  .itemFormulaire textarea {
    width: 340px;
  }
}

@media screen and (max-width: 420px) {
  /* ///////////// Header ///////////// */

  .containerHeader,
  .containerTextHeader,
  .containerIconHeader {
    margin: 1% 1%;
  }

  .backgroundHeader {
    height: 112vh;
  }

  .containerIconHeader {
    margin-top: 12%;
    flex-wrap: wrap;
    margin-left: 14%;
    margin-right: 14%;
  }

  .containerTextHeader h2 {
    margin-top: 16%;
    font-size: 26px;
    text-align: center;
  }

  .containerTextHeader h1 {
    font-size: 58px;
    margin-top: 2%;
  }

  .containerTextHeader h3 {
    font-size: 22px;
    margin-top: 6%;
    text-align: center;
  }

  .dropAnimLeft {
    transform: scale(0);
    transition: 0.3s;
    opacity: 0;
  }

  .dropAnimRight {
    transform: scale(0);
    transition: 0.3s;
    opacity: 0;
  }

  .cta {
    font-size: 24px;
  }

  .itemFormulaire textarea {
    width: 300px;
  }
}

@media screen and (max-width: 380px) {
  /* ///////////// Header ///////////// */

  .containerHeader,
  .containerTextHeader,
  .containerIconHeader {
    margin: 5% 0;
  }

  .containerIconHeader {
    margin-top: 14%;
    flex-wrap: wrap;
    margin-left: 13%;
    margin-right: 13%;
  }

  .containerTextHeader h2 {
    margin-top: 20%;
    font-size: 24px;
    text-align: center;
  }

  .containerTextHeader h1 {
    font-size: 55px;
    margin-top: 2%;
  }

  .containerTextHeader h3 {
    font-size: 22px;
    margin-top: 6%;
    text-align: center;
  }

  .itemFormulaire textarea {
    width: 260px;
  }
}

@media screen and (max-width: 300px) {
  /* ///////////// Header ///////////// */

  .containerHeader,
  .containerTextHeader,
  .containerIconHeader {
    margin: 1% 0;
  }

  .containerIconHeader {
    margin-top: 1%;
    flex-wrap: wrap;
    margin-left: 13%;
    margin-right: 13%;
  }

  .backgroundHeader {
    height: 160vh;
  }

  .containerIconHeader {
    margin-top: 3%;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
  }

  .containerTextHeader h2 {
    margin-top: 20%;
    font-size: 18px;
    text-align: center;
  }

  .containerTextHeader h1 {
    font-size: 33px;
    margin-top: 2%;
    text-align: center;
  }

  .containerTextHeader h3 {
    font-size: 18px;
    margin-top: 6%;
    text-align: center;
  }

  .itemFormulaire textarea {
    width: 250px;
  }

  .imageProfil {
    width: 300px;
  }
}
