/* /////////////////////////////////////sectionCompetences///////////////////////////////////// */

.primaryLetterCom {
  color: var(--c-competences);
  transition: 2s;
}

.containerSectionCompetences h1 {
  text-align: center;
  font-size: var(--c-textTitle);
  padding: 50px 0 0 0;
  margin-bottom: 80px;
  color: var(--c-black);
}

.bgCompetences {
  padding: 0px;
  margin: 0px;
  /* background-color: var(--c-gray); */
  background: linear-gradient(#ebebeb, #d8d5d5);
}

.containerSectionCompetences {
  height: 100%;
  display: block;
  margin: 0px 5%;
}

.containerCompetences {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 4%;
  margin-top: 2%;
}

.competencesWrapR {
  flex-wrap: wrap-reverse;
}

.competencesWrapL {
  flex-wrap: wrap;
}

.itemCompetencesTexte {
  background-color: var(--c-white);
  width: 60%;
  border-radius: 25px;
  margin: 5px 40px;
  box-shadow: -5px 5px 41px -18px rgba(0, 0, 0, 0.75);
  transition: 0.6s;
  padding-right: 6%;
  padding-left: 3%;
}

.itemCompetencesTexte h3 {
  padding-left: 8%;
  font-size: var(--t-text2);
  font-weight: 600;
}

.itemCompetencesTexte ul {
  line-height: 30px;
  font-size: var(--t-text3);
  overflow: auto;
  font-weight: 400;
  text-align: justify;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////!!!!!! */

.langagesCompetences ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 3%;
  font-size: 20px;
  list-style-type: none;
}

.langagesCompetences li img {
  margin: 0px 1px 0px 1px;
  width: 50px;
}

.langagesCompetences li .smallIcon {
  margin: 0px 1px 0px 1px;
  width: 80px;
}

.itemCompetencesIcon {
  width: 280px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.IconCompetences {
  width: 200px;
}
