/* ///////////////////////////////////////sectionContact/////////////////////////////////////// */

.primaryLetterCon {
  color: var(--c-contact);
  transition: 2s;
}

.containerSectionContact h1 {
  text-align: center;
  font-size: var(--c-textTitle);
  margin: 45px 0 30px 0;
  padding: 0px;
  color: var(--c-black);
  height: 100%;
}

.bgContact {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(white, #ebebeb);
}

.containerSectionContact {
  height: 100%;
  display: block;
  margin: 0px 5%;
  padding-bottom: 20px;
  padding-top: 10px;
}

.containerFormulaire {
  margin: 20px 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--c-gray);
  border-radius: 25px;
  box-shadow: -5px 5px 41px -18px rgba(0, 0, 0, 0.75);
}

label {
  font-size: var(--t-text3);
  text-transform: uppercase;
  font-weight: 800px;
}

.itemFormulaire {
  /* border: 1px solid rgba(0, 0, 255, 0); */
  text-align: center;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.itemFormulaire input {
  width: 260px;
  height: 36px;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  margin: 10px 10px;
  border: 2px solid var(--c-contact);
  box-shadow: 1px 2px 4px var(--c-black);
}

.itemFormulaire input:hover {
  background-color: var(--c-gray);
}

.itemFormulaire textarea {
  width: 360px;
  height: 100px;
  border-radius: 25px;
  text-align: center;
  margin: 10px 0 20px 0;
  padding: 6px;
  transition: 0.9s ease-out;
  border: 2px solid var(--c-contact);
  box-shadow: 1px 2px 4px var(--c-black);
  font-size: 16px;
}

.itemFormulaire textarea:hover {
  background-color: #dbdbdb;
  transition: 0.3s ease-in;
}

.sectionForm {
  margin: 0 1%;
  padding: 10px 0 10px 0;
}

/* _________________________________php_________________________________ */

.error_msg {
  font-size: 12px;
  text-align: center;
  color: red;
  text-transform: lowercase;
}

.repForm {
  font-size: 36px;
  text-align: center;
  color: var(--c-contact);
  font-weight: 600;
  width: 100%;
  display: inline-block;
  letter-spacing: 2px;
}

/* _________________________________btnFormulaire_________________________________ */

.btnFormulaire {
  margin: 3%;
}

.ctaValide {
  display: flex;
  padding: 8px 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: var(--c-white);
  /* background: #6225e6; */
  background-color: var(--c-contact);
  transition: 1s;
  box-shadow: 6px 6px 0 var(--c-black);
  transform: skewX(-6deg);
  border-radius: 15px;
  cursor: pointer;
}

.ctaValide:focus {
  outline: none;
}

.ctaValide:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 var(--c-contact);
  background-color: var(--c-white);
  color: var(--c-contact);
}

.d-none {
  display: none;
}

.form_message {
  text-align: center;
  font-size: 28px;
  color: #f35b04;
  font-weight: 600;
}
