/* ///////////////////////////////////header/////////////////////////////////// */

.containerHeader {
  height: 80vh;
  margin: 0 60px 60px 60px;
}

/* ________________________________imageHeader________________________________ */

.backgroundHeader {
  border: 1px solid rgba(0, 0, 0, 0);
  background-image: url("../../img/backgroundHeader.png");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* _________________________________textHeader________________________________ */

.containerTextHeader {
  color: var(--c-black);
  height: 40vh;
  margin-top: 10%;
  margin-left: 8%;
  margin-right: 8%;
}

#developpeurTitle {
  transition: 2s;
}

.containerTextHeader h2 {
  font-size: 35px;
  margin-left: 2%;
  transition: 1s;
  font-weight: 500;
}

.containerTextHeader h1 {
  font-size: 85px;
  margin-top: 1%;
  margin-left: 6%;
  margin-bottom: 2%;
  font-weight: 600;
}

.containerTextHeader h3 {
  font-size: 22px;
  margin-top: 6%;
  margin-left: 1%;
  transition: 1s;
  font-weight: 400;
}

/* __________________________________iconHeader__________________________________ */

.containerIconHeader {
  margin: 20px 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 1%;
  height: 30vh;
  transition: 1s;
}

.containerIconHeader div:hover {
  filter: invert(33%);
}

.itemIconHeader {
  width: 100px;
  margin-top: 20%;
  filter: opacity(77%);
}

/* -----------------------------------textIconHeader----------------------------------- */

.iconText {
  text-align: center;
  color: var(--c-black);
  font-size: 20px;
  margin-right: 0px;
  font-weight: 600;
  user-select: none;
}
