/* /////////////////////////////////////navBar//////////////////////////////////// */

nav {
  position: fixed;
  width: 100%;
  background-color: #292929d0;
  top: 0%;
  transition: 1s ease;
  z-index: 99;
}

.containerNavBar {
  margin-right: 100px;
  padding: 16px 0px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: auto;
  list-style-type: none;
  margin: auto;
  padding: auto;
}

nav li {
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  padding: 16px 40px 16px 30px;
  color: #ffffff;
  font-size: 18px;
  transition: 2s ease;
}

nav a:hover {
  background-color: #29292960;
  padding-right: 50px;
  padding-left: 50px;
  transition: 0.5s ease;
}

.preLink:hover {
  color: var(--c-presentation);
}

.comLink:hover {
  color: var(--c-competences);
}

.parLink:hover {
  color: var(--c-parcours);
}

.reaLink:hover {
  color: var(--c-realisations);
}

.conLink:hover {
  color: var(--c-contact);
}

/* ////////////////// Btn Nav //////////////////// */

.btnNavBar {
  display: none;
  position: absolute;
  left: 50%;
  top: 26px;
  transform: translate(-50%, -50%);
}

.btnNavBarBack {
  display: none;
  position: absolute;
  left: 50%;
  top: 26px;
  transform: translate(-50%, -50%);
}

.btnNavBar button {
  background-color: transparent;
  color: var(--c-white);
  padding: 0 20px;
  border: none;
  border-radius: 0 0 25px 25px;
  cursor: pointer;
  transition: 1s;
}

.btnNavBarBack button {
  background-color: transparent;
  color: var(--c-white);
  padding: 0 20px;
  border: none;
  border-radius: 0 0 25px 25px;
  cursor: pointer;
  transition: 1s;
}

.btnNavBar button:hover {
  transition: 1s;
  background-color: rgb(0, 0, 0);
}

.btnNavBarBack button:hover {
  transition: 1s;
  background-color: rgb(0, 0, 0);
}

.containerMenuNav {
  display: none;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 10px;
  transform: scale(1);
  transition: 0.5s;
}

.containerMenuNav a {
  text-transform: uppercase;
}

.containerMenuNav a:hover {
  background-color: transparent;
}

.hiddenMenuNav {
  transform: scale(0);
  transition: 0.5s;
}

/************************************javaScriptNav.js**************************************/

nav.scroll {
  background-color: #2929299f;
  transition: 2s ease;
}

nav.scroll:hover {
  background-color: #292929d0;
  transition: 2s ease;
}

.btnNavBar.scrollBtn {
  background-color: #29292980;
  transition: 0.5s ease;
  border-radius: 0 0 25px 25px;
}

.btnNavBar.scrollBtn.scrollBtn:hover {
  filter: invert(100);
  transition: 0.5s ease;
  border-radius: 0 0 25px 25px;
  margin-top: 1%;
  padding-top: 2%;
}
