/* ////////////////////////////////////sectionParcours///////////////////////////////// */

.wrapperFor {
  display: flex;
  justify-content: center;
  margin: 18px 58px;
  transition: 1s;
}

.wrapperExp {
  display: flex;
  justify-content: center;
  margin: 18px 58px;
  transition: 1s;
}

.containerSectionParcours h1 {
  text-align: center;
  font-size: var(--c-textTitle);
  margin: 0px;
  padding: 50px;
  color: var(--c-black);
}

.containerParcoursFor {
  overflow: hidden;
  padding: 20px 10px;
  position: relative;
  margin: 0 auto;
}

.containerParcoursFor:before {
  content: "";
  width: 6px;
  height: 100%;
  background: #313131;
  position: absolute;
  left: 22px;
}

.lineAnimFor {
  background: white;
  padding: 20px;
  margin: 66px 60px;
  max-width: 60vw;
  border-radius: 8px;
  position: relative;
  -webkit-box-shadow: -5px 5px 41px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 5px 41px -18px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 5px 41px -18px rgba(0, 0, 0, 0.75);
  transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s,
    border 2s;
}

.lineAnimFor h2 span {
  font-size: var(--t-text2);
  color: #000000;
  padding: 4px;
}

.lineAnimFor p {
  font-size: var(--t-text3);
}

.lineAnimFor:after {
  content: "";
  width: 32px;
  height: 32px;
  background: var(--c-parcours);
  border-radius: 50%;
  border: 4px solid var(--c-black);
  left: -65px;
  top: 50%;
  transform: translatey(-50%) rotate(45deg);
  position: absolute;
}

.containerParcoursExp {
  overflow: hidden;
  padding: 20px 10px;
  position: relative;
  margin: 0 auto;
}

.containerParcoursExp:before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--c-parcours);
  position: absolute;
  left: 50%;
}

.lineAnimExp {
  background: white;
  padding: 20px;
  margin: 66px 60px;
  max-width: 60vw;
  border-radius: 8px;
  position: relative;
  -webkit-box-shadow: -5px 5px 41px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 5px 41px -18px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 5px 41px -18px rgba(0, 0, 0, 0.75);
  transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s,
    border 2s;
}

.lineAnimExp h2 span {
  font-size: var(--t-text2);
  color: #000000;
  padding: 4px;
}

.lineAnimExp p {
  font-size: var(--t-text3);
}

.primaryLetterPar {
  color: var(--c-parcours);
  transition: 2s;
}

.bgParcours {
  padding: 0px;
  margin: 0px;
  background: linear-gradient(#ffffff, #ebebeb);
}

.containerSectionParcours {
  height: 100%;
  display: block;
  margin: 0px 3%;
  padding-bottom: 6%;
}

.containerParcours h2 {
  font-size: var(--t-text2);
  font-weight: 600;
}

.titleParcoursFor {
  margin-left: 8%;
  font-size: var(--t-text1);
  font-weight: 500;
  margin-top: 2%;
}

.titleParcoursExp {
  font-size: var(--t-text1);
  font-weight: 500;
  margin-top: 8%;
  text-align: center;
}

.containerSectionParcours h2 {
  transition: 0.5s;
}

.timeAnim {
  transition: 0.4s;
}
