/* ///////////////////////////////////sectionRealisations///////////////////////////////////// */

.primaryLetterRea {
  color: var(--c-realisations);
  transition: 2s;
}

.containerSectionRealisations h1 {
  text-align: center;
  font-size: var(--c-textTitle);
  margin: 0;
  padding-top: 50px;
  color: var(--c-white);
}

.bgRealisations {
  padding: 0px;
  margin: 0px;
  background-color: var(--c-black);
}

.containerSectionRealisations {
  height: 100vh;
  display: block;
  margin: 0px 5%;
}

.containerRealisation {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2% 3%;
}

.itemRealisation {
  margin: 4%;
  text-align: center;
  color: var(--c-white);
  max-width: 160px;
  transition: 0.5s;
  display: flex;
  justify-content: space-around;
}

/* ---------------------- img portefolio ---------------------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);
.snip1576 {
  background-color: #fff;
  color: #444;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  margin: 8px;
  max-width: 300px;
  min-width: 300px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  box-shadow: 4px 8px 12px black;
}

.snip1576 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1576:after {
  background-color: var(--c-realisations);
  height: 150%;
  bottom: -145%;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.snip1576 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1576 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.snip1576 h3 {
  font-size: var(--t-text2);
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.snip1576 p {
  display: block;
  font-size: var(--t-text3);
}

.snip1576 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1576:hover > img,
.snip1576.hover > img {
  opacity: 0.1;
}

.snip1576:hover:after,
.snip1576.hover:after {
  bottom: 95%;
}

.snip1576:hover figcaption,
.snip1576.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* ---------------------- Btn portefolio ---------------------- */

.btnRealisation {
  padding-bottom: 50px;
}

.ctaRealisations {
  display: flex;
  padding: 8px 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: var(--c-white);
  /* background: #6225e6; */
  background-color: var(--c-realisations);
  transition: 1s;
  box-shadow: 6px 6px 0 var(--c-gray);
  transform: skewX(-15deg);
  border-radius: 15px;
}

.ctaRealisations:focus {
  outline: none;
}

.ctaRealisations:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 var(--c-realisations);
  background-color: var(--c-black);
  color: var(--c-realisations);
}

.ctaRealisations span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.ctaRealisations:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 25px;
}

.ctaRealisations:hover path.three {
  animation: color_animRea 1s infinite 0.2s;
}

.ctaRealisations:hover path.one {
  transform: translateX(0%);
  animation: color_animRea 1s infinite 0.6s;
}

.ctaRealisations:hover path.two {
  transform: translateX(0%);
  animation: color_animRea 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_animRea {
  0% {
    fill: white;
  }
  50% {
    fill: var(--c-realisations);
  }
  100% {
    fill: white;
  }
}
