/* /////////////////////////////////////section////////////////////////////////////// */

section {
  height: 100%;
  overflow: hidden;
}

/* ________________________________sectionPresentation________________________________ */

.titleSection {
  transition: 1.5s;
  font-weight: 500;
}

.primaryLetterPre {
  color: var(--c-presentation);
  transition: 2s;
}

.bgPresentation {
  padding: 0px;
  margin: 0px;
}

.ContainerSectionPresentation {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 20px 5% 0px 5%;
  padding-top: 50px;
}

.imageProfil {
  background-image: url("../../img/profilHover.jpeg");
  height: 480px;
  width: 400px;
  filter: grayscale(30%);
  border-radius: 15px;
  background-size: cover;
  transition: 0.9s ease-out;
}

.imageProfil:hover {
  background-image: url("../../img/profil.JPG");
  transition: 0.6s ease-in;
}

.imagePresentation {
  margin: 5px;
  padding: 10px 0px;
  font-size: var(--t-text3);
  font-weight: 400;
  text-align: justify;
}

.textPresentation h1 {
  font-size: var(--c-textTitle);
  margin: 0px;
  padding: 0px;
  color: var(--c-black);
}

.textPresentation {
  width: 100%;
  margin: 10px 0 0 15px;
  padding: 10px 0px;
  line-height: 30px;
  font-size: var(--t-text3);
  overflow: auto;
  font-weight: 400;
  text-align: justify;
}

.iconImageProfil {
  display: flex;
  justify-content: space-around;
  margin: 20px 20px 0 20px;
  transition: 0.5s;
}

/* ______________________________________btnPresentation_____________________________________ */

.containerBtnPresentation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:900i");

/* * {
    box-sizing: border-box;
  } */

.wrapper {
  display: flex;
  justify-content: center;
  margin: 18px 58px;
  transition: 1s;
}

.cta {
  display: flex;
  padding: 8px 20px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  color: var(--c-white);
  /* background: #6225e6; */
  background-color: var(--c-presentation);
  transition: 1s;
  box-shadow: 6px 6px 0 var(--c-black);
  transform: skewX(-15deg);
  border-radius: 15px;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 var(--c-presentation);
  background-color: var(--c-white);
  color: var(--c-presentation);
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 25px;
}

span {
  transform: skewX(15deg);
}

span:nth-child(2) {
  width: 20px;
  margin-left: 2px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: var(--c-presentation);
  }
  100% {
    fill: white;
  }
}
